html,
body {
  margin: 0;
  padding: 0;
  background-color: grey;
  height: 100%;
  overflow: hidden;
}

#gameCanvas {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background: #5c94fc;
  image-rendering: pixelated; /* keeps pixel art sharp */
  border: solid 1px black;
}
